<!DOCTYPE html>
<html>

<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
  <link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900|Material+Icons" rel="stylesheet">
  <link href="https://cdn.jsdelivr.net/npm/vuetify@1.5/dist/vuetify.min.css" rel="stylesheet">
  <script src="https://cdn.jsdelivr.net/npm/vue@2.6.10/dist/vue.js"></script>
  <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/vuetify@1.5/dist/vuetify.js"></script>

  <title>Snippet App</title>
</head>

<body>
  <div id="app">
    <p>{{ message }}</p>
    <p>{{ message2 }}</p>
    <button v-on:click="changeMsg">Change</button>
    <ul>
      <li v-for="data in list">{{ data.title }}</li>
    </ul>
    <button v-on:click="listSnippet">listSnippet</button>
    <div>
      <input v-model="title" placeholder="title"> <!-- 説明 2.23 -->
      <input v-model="language" placeholder="language">
      <input v-model="contents" placeholder="contents">
    </div>
    <button v-on:click="postSnippet">postSnippet</button>
  </div>
  <script>
    new Vue({
      el: "#app",
      data() {
        return {
          message: "Hello Vue!",
          message2: 'Hoge',
          list: [{ title: 'title1' }, { title: 'title2' }],
          title: 'new title',
          language: 'Ruby',
          contents: 'contents'
        };
      },
      mounted() {
        this.setMsg();
      },
      methods: {
        setMsg: function () { // 説明 2.10
          this.message = 'Set Message'; // 説明 2.11
        },
        changeMsg: function () { // 説明 2.13
          this.message = 'Changed Message'
          axios.get('/snippets.json') // 説明 2.16
            .then(response => ( // 説明 2.17
              this.message2 = response.data[0]['title'] // 説明 2.18
            )
            )
        },
        listSnippet: function () {
          axios.get('/snippets.json')
            .then(response => (
              this.list = response.data // 説明 2.21
            )
            );
        },
        postSnippet: function () {
          axios.post('/snippets.json', { title: this.title, language: this.language, contents: this.contents }) // 説明 2.21
            .then(response => (
              this.listSnippet()  // 説明 2.22
            )
            );
        }
      }
    });
  </script>
</body>

</html>
